mean value of mass of DM component (log_10 M_DM)
mean value of scale radius of DM component (log_10 r_s)
mean value of mass of stellar component (log_10 M_star)
mean value of scale radius of stellar component (log_10 r_0)
mean value of dimensionless King parameter of stellar component (log_10 W_0)
mean value of polar angle of the satellite (theta)
mean value of velocity of the satellite in radial direction (v_r)
mean value of velocity of the satellite along polar angle (v_t)
mean value of velocity of the satellite along azimuthal angle (v_p)
